@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
	--detail: rgba(50,0,138,0.6);
	--background: white;
	--shadow: rgb(50,0,138);
}

html,
body,
#root {
	height: 100%;
}

body {
	background: var(--background);
}

.card{
	background: linear-gradient(90deg, #20002c81, #cbb4d47e);
	position: fixed;
	bottom: 0;
	right: 0;
	transition: 1s all ease-in-out;
	overflow: hidden;
}

.minimize{
	bottom: -240px
}